* {
    /* height & width now includes border & padding */
    box-sizing: border-box;
}
  
body {
    margin-left: 200px;
    font-family: "Lucida Console", Courier, monospace;
}

h1 {
    margin-left: 18px;
}

h3 {
    margin-left: 68px;
}


#bar {
    display: flex;
}

#minesLeft {
    display: flex;
    justify-content: center;
    width: 41px;
    border: solid;
}

#reset {
    color: white;
    border: hidden;
    background-color: slategray;
    margin-left: 59px;
}

#timer {
    display: flex;
    justify-content: center; 
    border: solid;
    margin-left: 45px;
    width: 54px;
}

#gameboard div {
    font-size: 20px;
    border: 2px solid black;
}

#s, #m, #l {
    width: 60px;
    border: hidden;
    color: white;
    height: 30px;
    margin: 40px 25px 0 0;
}

#s {
    background-color: #6a8f6d;
}

#m {
    background-color: #e0e67a;
}

#l {
    background-color: #873533;
}